<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>


<a href="/app" class="btn btn-primary">Back</a>
<h1>
  Lunasin WebApp - Input Hutang
</h1>

<style>
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
</style>

  <!--<h4>Popup</h4>
  <div class="row">
      <div class="col-md-6">

      </div>

      <div class="col-md-6">
          <p class="input-group">
            <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
  </div>-->


<form>
  <div class="form-group">
    <label for="jumlahHutang">Jumlah (Rp)</label>
    <input type="text" class="form-control" id="jumlahHutang" placeholder="Rp" ng-model="debt.amount">
  </div>
  <div class="form-group">
    <label for="pemberiHutang">Nama Pemberi Hutang</label>
    <input type="text" class="form-control" id="pemberiHutang" placeholder="pemberi hutang" ng-model="debt.creditor">
  </div>
  <div class="form-group">
    <label for="deadlineHutang">Deadline Hutang</label>
    <input type="text" class="form-control" id="deadlineHutang" placeholder="deadline hutang" ng-model="debt.deadline">
  </div>
  <div class="form-group">
    <label for="noteHutang">Note Hutang</label>
    <input type="text" class="form-control" id="noteHutang" placeholder="note hutang" ng-model="debt.note">
  </div>
<!--
  <div class="form-group">
    <label for="tanggalHutang">Tanggal Hutang</label>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="statusTU.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openTanggalUtang($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>

  <div class="form-group">
    <label for="tanggalHutang">Tanggal Hutang</label>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="statusTJT.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openTanggalJatuhTempo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
-->
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default" ng-click="add()">Add</button>
</form>
