<div ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>Lunas.in</span>
      </h3>
      <span flex></span>
      <md-button ng-click="login($event)">
        login
      </md-button>
      <md-button ng-click="register($event)">
        register
      </md-button>
      <div ng-show="authData">
        <md-button ng-click="logout()">
          Log out
        </md-button>
      </div>
    </md-toolbar>
    </div>
    <md-content flex>
      <img flex ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
    </md-content>
</div>
