/* app css stylesheet */

.page-container {
  background-color: #f1f1f1;
  padding: 5px;
}

.page {
  margin: 5px;
  background-color: white;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.sidenav-button {
  padding: 0px;
}

.datepickerdemoBasicUsage {
  background: white;
  padding-bottom: 200px;
  font-size: 11px;
  color: darkred;
  margin: 10px 0 0 25px;
}

ng-md-icon {
  margin: auto;
  top: 50%;
  left: 50%;
}
