<md-dialog aria-label="Login bro" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          Add Credit
        </h2>
        <span flex></span>
        <md-button ng-click="cancel()">
          cancel
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>Amount (Rp)</label>
          <input ng-model="credit.amount" type="text">
        </md-input-container>
        <md-input-container>
          <label>Debtor</label>
          <input ng-model="credit.debtor" type="text">
        </md-input-container>
        <md-input-container>
          <label>Deadline</label>
          <input ng-model="credit.deadline" type="text">
        </md-input-container>
        <md-input-container>
          <label>Note</label>
          <input ng-model="credit.note" type="text">
        </md-input-container>
        <md-button ng-click="addCredit()">submit</md-button>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
