<md-dialog aria-label="Login bro" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          Login
        </h2>
        <span flex></span>
        <md-button ng-click="cancel()">
          cancel
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div layout="row">
          <md-button ng-click="loginFacebook()">
            Facebook
          </md-button>
          <md-button ng-click="loginGithub()">
            Github
          </md-button>
        </div>
        <md-input-container>
          <label>email</label>
          <input ng-model="email" type="email">
        </md-input-container>
        <md-input-container>
          <label>password</label>
          <input ng-model="password" type="password">
        </md-input-container>
        <div ng-show="errorEmailLogin" layout-align="center center">
          Error, wrong email or/and password !
        </div>
        <md-button ng-click="loginEmail()">login</md-button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
