<!--<p>This is the partial for view 3.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>-->


<div class="modal-body">
<h1>
  Lunasin WebApp - Hutang
</h1>

<table class="table">
  <tr>
    <td>Nama Utang :</td>
    <td>{{debtObject.debtName}}</td>
  </tr>
  <tr>
    <td>Jumlah Utang :</td>
    <td>{{debtObject.debtAmount}}</td>
  </tr>
  <tr>
    <td>Deskripsi Utang :</td>
    <td>{{debtObject.debtDescription}}</td>
  </tr>
  <tr>
    <td>Kategori Utang :</td>
    <td>{{debtObject.debtCategory}}</td>
  </tr>
  <tr>
    <td>Pemberi Utang :</td>
    <td>{{debtObject.creditor}}</td>
  </tr>
</table>
</div>
