<!-- toolbar navigation -->
<md-toolbar layout="row" class="md-whiteframe-2dp md-hue-2" ng-cloak>
  <div class="md-toolbar-tools">
    <md-button hide-gt-md ng-click="toggleSidenav()" class="md-icon-button" aria-label="Menu" layout-align="center center">
      <ng-md-icon icon="menu" style="fill: white" size="40"></ng-md-icon>
    </md-button>

    <h3>
      <span>Lunas.in Web</span>
    </h3>
    <span flex></span>
    <md-button ng-click="logout()">
      Log out
    </md-button>
  </div>
</md-toolbar>

<!-- sidenav navigation -->
<div flex layout="row">
  <md-sidenav flex layout="column" md-component-id="left" class="md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-sm')">

    <!--<md-toolbar class="md-tall">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <user-avatar></user-avatar>
        <span></span>
        <div>Firstname Lastname</div>
        <div>email@domainname.com</div>
      </div>
    </md-toolbar>-->

    <md-list>
      <md-list-item>
        <md-button flex>
          <!--<ng-md-icon icon="dashboard"></ng-md-icon>-->
          Dashboard
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button flex>
          Hutang (Debts)
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button flex>
          Piutang (Credits)
        </md-button>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <md-button flex>
          History
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <md-content flex>
    <div ui-view></div>
  </md-content>
</div>
