<md-dialog aria-label="Add Debt List" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          Add Debt
        </h2>
        <span flex></span>
        <md-button ng-click="cancel()">
          cancel
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>Amount (Rp)</label>
          <input ng-model="debt.amount" type="text">
        </md-input-container>
        <md-input-container>
          <label>Creditor</label>
          <input ng-model="debt.creditor" type="text">
        </md-input-container>
        <md-input-container>
          <label>Deadline</label>
          <input ng-model="debt.deadline" type="text">
        </md-input-container>
        <md-input-container>
          <label>Note</label>
          <input ng-model="debt.note" type="text">
        </md-input-container>
        <md-button ng-click="addDebt()">submit</md-button>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
