<div class="page-container" ng-cloak>

<div layout="row">
    <md-toolbar class="page md-whiteframe-4dp md-warn" layout-align="center center">
      <h5 class="md-display-1">
        Total hutang : <br>
        Rp{{totalHutang}}
        <!--<br><br>
        Cicilan harian : <br>
        Rp-->
      </h5>
    </md-toolbar>
</div>


<div layout="row" layout-sm="column">
  <div flex layout="column">
    <!--<div class="md-whiteframe-2dp">-->
      <div class="page">
      <md-toolbar class="md-whiteframe-2dp md-warn" layout-align="center center">
        <h1 class="md-title">
          Utang (Debts)
        </h1>
      </md-toolbar>
            <md-list>
              <!-- add debt list -->
              <!--<md-list-item>
                <div class="md-list-item-text">
                  <div layout="row">
                    <md-input-container flex>
                      <label>Amount</label>
                      <input ng-model="user.firstName">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Creditor</label>
                      <input ng-model="theMax">
                    </md-input-container>
                  </div>
                  <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                  <md-input-container flex>
                    <label>Note</label>
                    <input ng-model="node">
                  </md-input-container>
                  <md-divider></md-divider>
                </div>
              </md-list-item>-->

              <!-- debt list -->
              <md-list-item class="md-3-line" ng-repeat="debtList in debtLists">
                <div class="md-list-item-text">
                  <h3>
                    Jumlah (Rp) : {{debtList.amount}}
                  </h3>
                  <!--</a>-->
                  <h4>
                    Pemberi Hutang : {{debtList.creditor}}
                  </h4>
                  <p>Deadline : {{debtList.deadline}}</p>
                  <p>Note : {{debtList.note}}</p>
                  <md-divider></md-divider>
                </div>
                  <!--</div>-->
              </md-list-item>
              <md-list-item>
                <md-button flex ng-click="dialogAddDebt($event)">
                  Click to add debt list
                </md-button>
              </md-list-item>
            </md-list>

            </div>
          <!--</div>-->
  </div>

  <!-- Piutang -->
  <div flex layout="column">
      <div class="page">
      <md-toolbar class="md-whiteframe-2dp md-warn" layout-align="center center">
        <h1 class="md-title">
          Piutang (Credits)
        </h1>
      </md-toolbar>
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="creditList in creditLists">
                <div class="md-list-item-text">
                  <h3>
                    Jumlah (Rp) : {{creditList.amount}}
                  </h3>
                  <!--</a>-->
                  <h4>
                    Penerima Hutang : {{creditList.debtor}}
                  </h4>
                  <p>Deadline : {{creditList.deadline}}</p>
                  <p>Note : {{creditList.note}}</p>
                  <md-divider></md-divider>
                </div>

                  <!--</div>-->
              </md-list-item>
              <md-list-item>
                <md-button flex ng-click="dialogAddCredit($event)">
                  Click to add credit list
                </md-button>
              </md-list-item>
            </md-list>
            </div>
  </div>



</div>
</div>
