<md-dialog aria-label="Login bro" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          Login
        </h2>
        <span flex></span>
        <md-button ng-click="cancel()">
          cancel
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>Email</label>
          <input ng-model="email" type="email">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="password" type="password">
        </md-input-container>
        <md-input-container>
          <label>Password again</label>
          <input ng-model="passwordAgain" type="password">
        </md-input-container>
        <div ng-show="errorDiffPass">
          Error, your password is different with password again !
        </div>
        <div ng-show="errorInvalidEmail">
          Error, your email is invalid !
        </div>
        <md-button ng-click="register()">submit</md-button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
